{% extends 'base.html.twig' %}

{% block title %}Hello InternController!{% endblock %}

{% block body %}

<section>
    <div class="titre">
        <h3 >Modifier un stagiaire</h3>
        <a href="{{ path('app_intern') }}"><i class="fa-solid fa-rotate-left"></i></a>
    </div>

    <div class="modifIntern"> </div>
</section>
{% endblock %}
