{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}


<section>
    <div class="titre">
        <h3 >Modifier une catégorie</h3>
        <a href="{{ path('app_category') }}"><i class="fa-solid fa-rotate-left"></i></a>
    </div>

    <div class="modifCat"> </div>
</section>

{% endblock %}
