{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}



<section>
    <div class="titre">
        <h3 >Supprimer une session</h3>
        <a href="{{ path('app_session') }}"><i class="fa-solid fa-rotate-left"></i></a>
    </div>

</section>



{% endblock %}
