/*Form général */
.formInput {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.formInput select {
    width: 50%;
    padding: 2%;
    margin-left: 3%;
    background-color: white;
    border-radius: 10px;
}

.selectMulti label{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-top: 3%;
    padding-bottom: 3%;
}

input {
    width: 70%;
    margin-left: 2%;
    border-radius: 10px;
}

.formButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

button {
    width: 50%;
    padding: 1%;
    background-color: #5D388D;
    color: #e8dafc;
    font-size: 1em;
    border-radius: 10px;    
}

.buttonSessionModule {
    width: 8%;
}



label {
    width: 20%;
    display: inline-block;
}

.formSession {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.libelleModule {
    width: 20%;
}

.formSession input {
    padding: 5%;
}