/* Intern */
.blocIntern {
    display: flex;
    gap: 15px;
}

.listIntern {
    width: 30%;
    background-color: var(--backSection);
    padding: 1%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.infosIntern {
    width: 80%;
    background-color: var(--backSection);
    padding: 1%;
    border-radius: 10px;
}

.addIntern, .modifIntern {
    background-color: var(--backSection);
    padding: 1%;
    border-radius: 10px;
}

/* Trainer */
.listTrainer, .addTrainer, .modifTrainer {
    background-color: var(--backSection);
    padding: 1%;
    border-radius: 10px;
}

.listCat, .addCat, .modifCat {
    background-color: var(--backSection);
    padding: 1%;
    border-radius: 10px;
}