/* Intern */
.blocIntern, .blocTrainer, .blocCat, .blocModule, .blocTraining {
   gap: 15px;
}

.listIntern, .listTrainer, .listCat, .listModule, .listTraining {
    width: 30%;
    background-color: var(--backSection);
    padding: 1%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.infosIntern {
    width: 80%;
    background-color: var(--backSection);
    padding: 1%;
    border-radius: 10px;
}


.addIntern, .modifIntern, .addCat, .modifCat, .addModule, .modifModule, .addTrainer, .modifTrainer, .addTraining, .modifTraining {
    background-color: var(--backSection);
    padding: 1%;
    border-radius: 10px;
}

.title {
    padding: 3% 0;
}

.space {
    padding-bottom: 1%;
}



