/* Général */
.infosPwd {
    font-size: 0.7em;
}

/* Login */ 

.login {
    width: 100%;
    background-color: #e8dafc;
    border-radius: 10px;
    padding: 5%;
}


/* Register */
.register {
    width: 100%;
    background-color: #e8dafc;
    border-radius: 10px;
    padding: 5%;
}


