/* Général */
.infosPwd {
    font-size: 0.7em;
}

.sectionSecu {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Login */ 

.login {
    width: 100%;
    background-color: var(--backSection);
    border-radius: 10px;
    padding: 5%;
}


/* Register */
.register {
    width: 100%;
    background-color:var(--backSection);
    border-radius: 10px;
    padding: 5%;
}

input {
    width: 100%;
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 5%;
}

.agreeTerms {
    display: flex;
    align-items: center;
    justify-content: center;
}





