.listSession, .addSession, .modifSession, .blockSession {
    background-color: var(--backSection);
    padding: 1%;
    border-radius: 10px;
}

.subTitleSession {
    padding: 4% 0;
}

/* Sessions en cours */
.listSession {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.thSession {
    color: var(--ftColor);
}

.listingSession {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/* Détail d'une session */

.blockSession {
    width: 100%;
}

.blockPlanning {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.planning {
    width: 80%;
}

.listModuleSession {
    display: grid;
    grid-template-columns: repeat(4, 0.4fr);
    grid-template-rows: auto;
}
