{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}


<section>
    <div class="titre">
        <h3 >Supprimer un module</h3>
        <a href="{{ path('app_module') }}"><i class="fa-solid fa-rotate-left"></i></a>
    </div>

    <div class="addModule"> </div>
</section>



{% endblock %}
