{% extends 'base.html.twig' %}

{% block title %}Hello TrainingController!{% endblock %}

{% block body %}

<section>
    <div class="titre">
        <h3 >Ajouter une formation</h3>
        <a href="{{ path('app_training') }}"><i class="fa-solid fa-rotate-left"></i></a>
    </div>

    <div class="addTraining"> 

        {{ form_start(formTraining)}}
            
            {{ form_row(formTraining.libelleTraining)}}

        {{ form_end(formTraining)}}

    </div>
</section>



{% endblock %}
