{% extends 'base.html.twig' %}

{% block title %}Hello TrainingController!{% endblock %}

{% block body %}

<section>
    <div class="titre">
        <h3 >Formation {{ training.libelleTraining }} </h3>
        <a href="{{ path('app_trainer') }}"><i class="fa-solid fa-rotate-left"></i></a>
    </div>

    <div class="listTraining"> 

        
    </div>
</section>



{% endblock %}
