{% extends 'base.html.twig' %}

{% block title %}Hello TrainingController!{% endblock %}

{% block body %}


<section>
    <div class="titre">
        <h3 >Modifier une formation</h3>
        <a href="{{ path('app_training') }}"><i class="fa-solid fa-rotate-left"></i></a>
    </div>

    <div class="modifTraining"> </div>
</section>

{% endblock %}
