{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}


<section>
    <h3 class="titre">Mon profil</h3>

    <div class="listInfos">        
        
    </div>
</section>

<section>
    <h3 class="titre">Modifier mon profil</h3>

    <div class="modifInfos">        
        
    </div>
</section>



{% endblock %}
